<h2>Welcome</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>


<p>
  <%= link_to('Be Friends', user_follow_path(@user), method: :post) %>
  <%= link_to('Messy Breakup', user_unfollow_path(@user), method: :post) %>
</p>

<p>
  Are you friends with this person? [<%= @user.followed_by?(current_user)  %>]
<p>
